<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;600&family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/signup.css">

</head>

<body>
    <div class="header">
        <h1 class="heading">Emergency Service Portal</h1>
        <p class="tagline">At your service 24x7</p>
        <div class="navbar">
            <a href="/">HOME</a>
            <a href="/signin" class="right">SIGN IN</a>
            <a href="/signup" class="right">SIGN UP</a>
        </div>

    </div>

    <div style="padding-bottom: 30px;">

    </div>

    <form action="">

        <div class="container">

            <center>
                <h1 style="color: #456268; font-family:'Varela Round',sans-serif;">Email Address / Mobile Number Already Registered</h1>
            </center>

             
            <div class="spc" style="padding-left:30px">
                <div class="input-container">

                        <centre><b style="font-size:15px">please try signing in</b>
                            <button class="signin-btn"><a style="text-decoration: none;color: white;" href="/signin">CLICK ME !</a></button>
                        </centre>
                    </h3>

                </div>
            </div>
         

            
        </div>
    </form>



    <div class="header" style=" position: fixed;left: 0;bottom: 0;width:100%; margin-top:50px; padding-top:0px; font-size:17px; font-family: 'Varela Round', sans-serif;">
        <footer style="text-align: left;">&copy; Copyright 2020 <span style="color:#fbdcc4;font-size:18px; font-family: 'Varela Round', sans-serif;">EMERGENCY-SERVICES</span>
            <span style="padding-left: 890px;">

                <a href="#">
                    <i style="color: #fbdcc4; font-size:20px;" class="fa fa-twitter"></i>
                </a>
                <a href="#">
                    <i style="color: #fbdcc4; font-size:20px;" class="fa fa-linkedin"></i>
                </a>

                <a href="#">
                    <i style="color: #fbdcc4; font-size:20px" class="fa fa-facebook"></i>
                </a>

                <a href="#">
                    <i style="color: #fbdcc4; font-size:20px" class="fa fa-medium"></i>
                </a>

            </span>
        </footer>

    </div>


</body>

</html>