body {
    /*Setting default margin to zero and background styles for body*/
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: #f4f4f4;
}

form {
    /*Adding shadow to form and setting up box size for form*/
    border: 3px solid #f1f1f1;

    margin-left: 30%;
    margin-right: 30%;
    background-color: #eeeded;
    border-radius: 10px;
    
    -webkit-box-shadow: 7px 7px 5px 0px #e2e4d9;
    -moz-box-shadow: 7px 7px 5px 0px #e2e4d9;
    box-shadow: 35px 7px 5px 5px #e2e4d9;
}

form:hover{
    -webkit-box-shadow: 7px 7px 5px 0px #b5b6af;
    -moz-box-shadow: 7px 7px 5px 0px #b5b6af;
    box-shadow: 35px 7px 5px 5px #b5b6af;

}



.icon {
    color: #8f384d;
    min-width: 30px;
    padding-top: 13px;
}


/*Container size and width*/
.container {
    padding: 16px;
    max-width: 300px;
    margin: auto;

}

/*utility to add line space on top of element*/
.spc {
    padding-top: 5px;
}


/*setting up header and footer design*/
.header {
    padding-top: 20px;
    margin-block-start: 0px;
    text-align: center;
    background: #941933;
    color: #fffafa;
    line-height: 35px;
}

.heading {

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin: 0px;
    font-size: 40px;
    font-family: 'Varela Round', sans-serif;
}

h3 {

    margin-block-start: 0px;
    margin-block-end: 0px;
    margin: 0px;
    font-size: 40px;
    font-family: 'Varela Round', sans-serif;
    padding-left: 30px;
}

.tagline {
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
    color: #f8efd4
}

/* Style the top navigation bar */

/* Style the top navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-size: 15px;

}

/* Style the navigation bar links */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 8px 20px;
    text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
    float: right;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}


.btn {
    background-color: #511845;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 30%;
    -webkit-box-shadow: 7px 7px 5px 0px #772c49;
    -moz-box-shadow: 7px 7px 5px 0px #772c49;
    box-shadow: 7px 7px 5px 0px #772c49;
    font-family: 'Comfortaa', cursive;
    font-size: 12px;

}


.btn:hover {
    opacity: 0.8;
    background-color: #900c3f;

    -webkit-box-shadow: 7px 7px 5px 0px #511845;
    -moz-box-shadow: 7px 7px 5px 0px #511845;
    box-shadow: 7px 7px 5px 0px #511845;
}


/* The subnavigation menu */
.subnav {
    float: left;
    overflow: hidden;
    padding-top: 8px;
  }
  
  /* Subnav button */
  .subnav .subnavbtn {
    font-size: 15px;
    border: none;
    outline: none;
    color: white;
    padding: 8px 20px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Add a red background color to navigation links on hover */
  .subnav:hover .subnavbtn {
    background-color: #333;
  }
  
  /* Style the subnav content - positioned absolute */
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #333;
    width: 100%;
    z-index: 1;
  }
  
  /* Style the subnav links */
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  
  /* Add a grey background color on hover */
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: block;
  }