<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;600&family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/log.css">

</head>

<body>
    <div class="header">
        <h1 class="heading">Emergency Service Portal</h1>
        <p class="tagline">At your service 24x7</p>

        <div class="navbar">
            <a href="/homepage">HOME</a>
            <a href="/complain">FILE COMPAINT</a>
            <div class="subnav">
                <button class="subnavbtn">COMPLAIN LOG <i class="fa fa-caret-down"></i></button>
                <div class="subnav-content">
                   <a href="/registered">REGESTERED COMPLAINS</a>
                   <a href="/processing">PROCESSING COMPLAINS</a>
                   <a href="/solved">SOLVED COMPLAINTS</a> 
                  </div>
               </div>
            <a class="right" href="/">SIGN OUT</a>
        </div>
    </div>

    <div style="padding-bottom:40px;"></div>
       
    <center><h1 class="heading" style="color: #393e46;padding-bottom: 30px ;padding-top: 40px;">REGISTERING COMPLAINTS</h1></center>
      {% for record in records %}
        {%  if record[1] == 'Generating'  %}     
           <div style="padding-bottom: 30px;"></div>
            <form action="/complain_log" method="POST" >   
              <div class="container">
                 <p style = "font-family: 'Comfortaa', cursive; font-size: 16px; text-align: center;">
                    <b style="font-family: 'Varela Round', sans-serif; font-size:18px">Complaint Id:</b> {{record[0]}}
                    <br> <br>
                    <b style="font-family: 'Varela Round', sans-serif; font-size:18px">Complaint Status:</b> {{record[1]}}
                    <br> <br>
                    <center>
                      <button class="btn" type="button" onclick="return abc('{{record[0]}}');">View Details</button>
                    </center>
                </p>
              </div>     
            </form>
        {% endif %}
    {% endfor %}
     


            <script>
                function abc(display_record){
                    window.location.href = "/registered/" + display_record
                }
            </script>
           
   
         

    
    <div style="padding-bottom: 80px;"></div> 
    <div class="header" style="position: fixed; left: 0;bottom: 0;width:100%; margin-top:20px; padding-top:0px; font-size:17px; font-family: 'Varela Round', sans-serif;">

        <footer style="text-align: left;">&copy; Copyright 2020 <span style="color:#fbdcc4;font-size:18px; font-family: 'Varela Round', sans-serif;">EMERGENCY-SERVICES</span>
            <span style="padding-left: 890px;">

                <a href="#">
                    <i style="color: #fbdcc4; font-size:20px;" class="fa fa-twitter"></i>
                </a>
                <a href="#">
                    <i style="color: #fbdcc4; font-size:20px;" class="fa fa-linkedin"></i>
                </a>

                <a href="#">
                    <i style="color: #fbdcc4; font-size:20px" class="fa fa-facebook"></i>
                </a>

                <a href="#">
                    <i style="color: #fbdcc4; font-size:20px" class="fa fa-medium"></i>
                </a>

            </span>
        </footer>

    </div>


</body>

</html>