<!DOCTYPE html>
<html lang="en">

<head>
    <title>Page Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;600&family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/home.css">
</head>

<body>

    <div class="header">
        <img src="static/images/logo.jpg" alt="">
    </div>

    <div class="navbar">
        <a href="/">HOME</a>
        <a href="/signin" class="right">SIGN IN</a>
        <a href="/signup" class="right">SIGN UP</a>
    </div>

    <div class="row">
        <div class="side">
            <h2>POLICE</h2>
            <!-- <h5>Photo of me:</h5> -->
            <div class="fakeimg" style="height:200px;">
                <a href="/pol">
                    <img src="static/images/POLICE.jpg" alt="" width="320" height="180">
                </a></div>
            <h2>AMBULANCE</h2>
            <!-- <h5>Photo of me:</h5> -->
            <div class="fakeimg" style="height:200px;">
                <a href="/amb">
                    <img src="static/images/ambulance.jpg" alt="" width="320" height="180">
                </a></div>
            <h2>FIRE BRIGADE</h2>
            <!-- <h5>Photo of me:</h5> -->
            <div class="fakeimg" style="height:200px;">
                <a href="/firbrgd">
                    <img src="static/images/fb.jpg" alt="" width="320" height="180">
                </a>
            </div>

        </div>
        <div class="main">
            <h2>AMBULANCE</h2>

            <p>Edhi Foundation is the single best foundation across Pakistan and one of the best social welfare service
                providers across the world running on non-commercial, non-political, and non-communal basis, serving
                round-the-clock without any discrimination of color, class, and creed is enjoying exclusive credentials
                in the shape of awards and shields conferred upon Mr. Abdul Sattar Edhi and Mrs. Bilquis Edhi by
                governmental and non-governmental organizations on national and international level for rendering their
                exemplary services to humanity in multidimensional fields.
                <br><br>
                The diversified fields in which Abdul Sattar Edhi played his greatest role for; saving the lives of
                thousands of newborn babies by placing the cradles outside the Edhi centres, fostering the abandoned
                babies and children, free nurturing disabled and handicapped people, free caring and feeding women and
                elderly people who were subjected to torture or neglected by their families, free supporting to ailing
                patients by providing free medication and medicines through his mobile dispensaries, hospitals, and the
                diabetic centre at Karachi.
                <br><br>
                In addition to above, he offered his services in many other areas—like providing land, air, and marine
                ambulance services during accidents to shift patients to hospitals, national and international relief
                and aid assistance to the affectees of natural debacles, providing relief aid to refugees in various
                countries, providing emergency services to the sufferers of drought, fire, and flood, saving the lives
                of drowned people added with recovering dead bodies from the seas and floods, free rehabilitating the
                drug addicts, free tracing the missing people, free arranging marriages for the helpless girls and boys,
                providing free food, clothing, and blankets to needy people.
                <br><br>
                Besides above, he also served the humanity by offering his services by, providing free technical
                education to needy people to make them self sufficient through the technical knowledge and skills,
                providing religious education to the children to make them the best human beings, providing consultancy
                on family planning and maternity services, providing free blood and plasma to the disadvantaged people,
                providing free shelter, food, and caring to mentally retarded people, caring by giving shelter and food
                to orphan and helpless children.
                <br><br>
                Services to humanity rendered by Abdul Sattar Edhi and his spouse Mrs. Bilquis Edhi never end here, he
                played his role in some more areas—such as; provided free legal aid to bail out or the prisoners from
                the prisons, financial and medical support to the prisoners, provided crutches and supporters to the
                handicapped people, and gave exclusive free bathing and shrouding services to unclaimed dead bodies, so
                on and so forth. All these services are so much outstanding and exceptional that Edhi Foundation’s role
                can truly be attributed to an unprecedented example of services to the nation and country of Pakistan as
                well as humanity, across the globe.
                <br><br>
                Every society is destined to face the problems of looking after the welfare of the sick, the weak, the
                destitute and the needy. All societies are alike in this respect. One way of assessing the status of a
                society on the road to civilization is the value accorded to an individual and his basic human needs.
                These have not always received the attention they deserve in the planning of economics, particularly in
                developing countries. Most of the available resources are consumed by defense needs and pressing demands
                for technological progress.
                <br><br>
                Programs for development in the social sector remain a long way behind, mainly because of financial
                constraints. Special efforts are, therefore, needed to mobilize community resources to initiate and
                develop programs for the welfare of the weak and the disadvantaged members of society.


            </p>
            <br>


        </div>
    </div>

    <div class="header" style="left: 0;bottom: 0;width:100%; margin-top:50px; padding-top:0px; font-size:17px; font-family: 'Varela Round', sans-serif;">
        <footer style="text-align: left;">&copy; Copyright 2020 <span style="color:#fbdcc4;font-size:18px; font-family: 'Varela Round', sans-serif;">EMERGENCY-SERVICES</span>
            <span style="padding-left: 890px;">

                <a href="#">
                    <i style="color: #fbdcc4; font-size:20px;" class="fa fa-twitter"></i>
                </a>
                <a href="#">
                    <i style="color: #fbdcc4; font-size:20px;" class="fa fa-linkedin"></i>
                </a>

                <a href="#">
                    <i style="color: #fbdcc4; font-size:20px" class="fa fa-facebook"></i>
                </a>

                <a href="#">
                    <i style="color: #fbdcc4; font-size:20px" class="fa fa-medium"></i>
                </a>

            </span>
        </footer>

    </div>



</body>

</html>