<!DOCTYPE html>
<html lang="en">

<head>
    <title>Page Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;600&family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/home.css">
</head>

<body>

    <div class="header">
        <img src="static/images/logo.jpg" alt="">
    </div>

    <div class="navbar">
        <a href="/homepage">HOME</a>
        <a href="/complain">FILE COMPAINT</a>
        <a href="#">COMPLAINT LOG</a>
    </div>

    <div class="row">
        <div class="side">
            <h2>POLICE</h2>
            <!-- <h5>Photo of me:</h5> -->
            <div class="fakeimg" style="height:200px;">
                <a href="/police">
                    <img src="static/images/POLICE.jpg" alt="" width="320" height="180">
                </a></div>
            <h2>AMBULANCE</h2>
            <!-- <h5>Photo of me:</h5> -->
            <div class="fakeimg" style="height:200px;">
                <a href="/ambulance">
                    <img src="static/images/ambulance.jpg" alt="" width="320" height="180">
                </a></div>
            <h2>FIRE BRIGADE</h2>
            <!-- <h5>Photo of me:</h5> -->
            <div class="fakeimg" style="height:200px;">
                <a href="/firbrgd">
                    <img src="static/images/fb.jpg" alt="" width="320" height="180">
                </a>
            </div>

        </div>
        <div class="main">
            <h2>FIRE BRIGADE</h2>

            <p>Karachi Fire Department is responsible for the provision of fire protection in the city of Karachi,
                Sindh, Pakistan. Karachi Fire Department as well as responding to building collapses, drowning cases,
                gas leakage, oil spillage, road and rail accidents, bird and animal rescues, fallen trees and taking
                appropriate action during natural calamities.
                <br><br>
                The Fire Departments of Pakistan inherited its first Fire Department Building in 1947 right after the
                independence of Pakistan in 1947. The Central Fire Brigade was later called ‘Al-Markaz’ and was located
                near the Civil Hospital Karachi. The building has since been renovated only in 1976.
                <br><br>
                The documentary specially focuses on 15 January 2007 when eight firemen were buried and burned alive in
                a burning cotton factory at the Site Industrial Area of Karachi. Pakistanis mourned the loss and the
                viewers explore first hand the emotional turmoil which these families had to deal with and how some of
                the firemen barely escaped death . As the firemen talk about the uncertainty of their lives and the
                medical services they get, the viewers will get a unique insight into the lives of these selfless
                individuals.
                <br><br>
                The Mayor of Karachi, Syed Mustafa Kamal admits that the CFS needs more equipment and resolves to do so.
                The CFS has been battling many a challenges in the past few years, some of which have been discussed in
                the documentary; the reason for its appeal in the country.
                <br><br>
                Important focus has also been on the PNSC fire. The 15-storey Pakistan National Shipping Corporation
                building caught fire on Sunday, 18 February 2007 in Karachi, leaving at least two firefighters injured
                and destroying a large number of valuable documents. The PNSC building,[1] which was built in the early
                1970s, has seen the second outbreak of a fire in seven months. The 18 Feb fire 'believed to have been
                caused by a short circuit' destroyed official records of the National Engineering Services of Pakistan.
                But this was not the first fire the PNSC building would endure.
                <br><br>
                The second fire broke out on 19 August just a few months after the first one. This time Manager
                Administration officer suffered a fatal heart attack at the scene after witnessing the inferno. Two
                Navay helicopters were used in rescue operations and one man who was working on a mobile phone tower on
                the roof was rescued.
            </p>
            <br>



        </div>
    </div>

    <div class="header" style="left: 0;bottom: 0;width:100%; margin-top:50px; padding-top:0px; font-size:17px; font-family: 'Varela Round', sans-serif;">
        <footer style="text-align: left;">&copy; Copyright 2020 <span style="color:#fbdcc4;font-size:18px; font-family: 'Varela Round', sans-serif;">EMERGENCY-SERVICES</span>
            <span style="padding-left: 890px;">

                <a href="#">
                    <i style="color: #fbdcc4; font-size:20px;" class="fa fa-twitter"></i>
                </a>
                <a href="#">
                    <i style="color: #fbdcc4; font-size:20px;" class="fa fa-linkedin"></i>
                </a>

                <a href="#">
                    <i style="color: #fbdcc4; font-size:20px" class="fa fa-facebook"></i>
                </a>

                <a href="#">
                    <i style="color: #fbdcc4; font-size:20px" class="fa fa-medium"></i>
                </a>

            </span>
        </footer>

    </div>


    </div>


</body>

</html>