<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;600&family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/signup.css">

</head>

<body>
    <div class="header" style="margin-bottom:50px">
        <h1 class="heading">Emergency Service Portal</h1>
        <p class="tagline">At your service 24x7</p>


        <div class="navbar">
            <a href="/">HOME</a>
            <a href="#">COMPAINT STATUS</a>
            <a href="#">COMPLAINT HISTORY</a>
            <a href="/signup" class="right">SIGN-UP</a>
        </div>

    </div>


    <div style="padding-bottom: 20px;">

    </div>


    <form action='/signup' method="POST"  onsubmit="return checkPassword();">

        <div class="container">

            <center>
                <h1 style="color: #511845; font-family:'Varela Round',sans-serif;">User Sign up</h1>
            </center>
            <div class="spc">
                <div class="input-container">
                    <i class="fa fa-user icon" style="font-size:30px;"></i>
                    <input type="text" placeholder="Username" name="username" id="username" required>
                </div>
            </div>

            <div class="spc">
                <div class="input-container">
                    <i class="fa fa-envelope-square icon" style="font-size: 30px;"></i>
                    <input type="email" placeholder="Email Address" name="email" id="email" required>
                </div>
            </div>

            <div class="spc">
                <div class="input-container">
                    <i class="fa fa-phone icon" style="font-size: 30px;"></i>
                    <input type="text" placeholder="Phone Number should start with 92" title="Invalid Phone Number" name="number" id="number" pattern="(?=.*\d).{12}" required>
                </div>
            </div>

            <div class="spc">
                <div class="input-container">
                    <i class="fa fa-lock icon" style="font-size: 30px;"></i>
                    <input type="password" placeholder="Password" name="psw" id="psw" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"  pattern=(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,} required>
                </div>
            </div>

            <div class="spc">
                <div class="input-container">
                    <i class="fa fa-lock icon" style="font-size: 30px;"></i>
                    <input class="input-field" type="password" placeholder="Re-enter password" id="rpsw"  name="rpsw">
                    </div>
            </div>
             
            <center><button class="signup" type="submit" name="sub">Sign-up</button></center>

            <div class="spc" style="padding-left:30px">
                <div class="input-container">
                    <h3 class="signin">
                        <centre>Already have an Account?</centre>
                        <button class="signin-btn"><a style="text-decoration: none;color: white;" href="/signin">Sign-in</a></button>
                    </h3>

                </div>
            </div>
         

        </div>
    </form>
     
    <script>
        function checkPassword(){
          var1 = document.getElementById("psw");
          var2 = document.getElementById("rpsw");
          if(var1.value != var2.value){
              alert("Passwords do not match, please try again!");
              return false;   
              }
          }
         </script>


    <div class="header" style="left: 0;bottom: 0;width:100%; margin-top:50px; padding-top:0px; font-size:17px; font-family: 'Varela Round', sans-serif;">
        <footer style="text-align: left;">&copy; Copyright 2020 <span style="color:#fbdcc4;font-size:18px; font-family: 'Varela Round', sans-serif;">EMERGENCY-SERVICES</span>
            <span style="padding-left: 890px;">

                <a href="#">
                    <i style="color: #fbdcc4; font-size:20px;" class="fa fa-twitter"></i>
                </a>
                <a href="#">
                    <i style="color: #fbdcc4; font-size:20px;" class="fa fa-linkedin"></i>
                </a>

                <a href="#">
                    <i style="color: #fbdcc4; font-size:20px" class="fa fa-facebook"></i>
                </a>

                <a href="#">
                    <i style="color: #fbdcc4; font-size:20px" class="fa fa-medium"></i>
                </a>

            </span>
        </footer>

    </div>


</body>

</html>